header.gnb {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  border-bottom: 1px solid #ddd;  
  background-color: #fff;
}

a.logo {
  font-size: 1.8rem;
  font-weight: 700;
}