.gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 50px;
  border-bottom: 1px solid #ddd;

  .navigation {
  
    .link {

    
    }

    .link:not(:last-child) {
      margin-right: 12px;
    }
  }

  

  .logo {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

